<%- include('partials/header') %>


  <h1>COMPOSE</h1>
  <form action="/compose" method="POST">
    <div class="form-group">
      <label>TITLE</label>
      <input type="text" id="title" name="title" class="form-control">
      <label>POST</label>
      <textarea rows="10" cols="50" class="form-control" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">PUBLISH</button>
  </form>


<%- include('partials/footer') %>